<!doctype html>

<html th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>URL Shortener</title>
</head>

<body>
<div class="wrapper" layout:fragment="content">
    <div class="container justify-content-start">
        <div class="row justify-content-start">
            <div class="msg">
                <h2 class="text-danger section-title" th:text="${exception.message} ?: ${exception}">Message</h2>
            </div>
        </div>


        <div class="row justify-content-start">
            <div class="col-md-7">
                <form method="get" th:action="@{/}">
                    <button type="submit" class="btn btn-primary">Home</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
